*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body{
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.footherCont {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: gray;
  width: 100%;
  color: white;
  margin-top: auto;
  flex-wrap: wrap;
}

.titleh4{
  margin-bottom: 15px;
}

.iconLetter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: wheat;
  font-size: 25px;
  cursor: pointer;
}
.iconLetter:hover {
  color: white;
}
.footherSocial {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.about {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
}
