.footherCont {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 200px;
  background: gray;
  color: white;
}
.boxOne {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.boxTwo {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.icon {
  font-size: 25px;
  color: wheat;
}
.icon:hover {
  color: white;
  cursor: pointer;
  font-size: 35px;
}
.titleContain {
  color: white;
  font-size: 25px;
}
.title {
  color: wheat;
}
@media (max-width: 890px) {
  .footherCont {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 200px;
    background: gray;
    color: white;
  }
  .boxTwo {
    display: none;
  }

  .boxOne .titleContain {
    display: none;
  }
  .boxOne ul{
    text-align: center;
   width: 250px;
  }
  .boxOne .icon {
    font-size: 20px;
  }
}
